Repository lcomrade/lenpaste: changes, and which Woodpecker steps are due for each by the changed paths.
All: upload, crowdin_upload, test_docker

.woodpecker/crowdin.yml:

when:
  event: [push, cron]
  branch: develop

pipeline:
  upload:
    image: git.lcomrade.su/root/drone-crowdin-v2
    settings:
      crowdin_key:
        from_secret: crowdin_key
      project_id: 553341
      target: upload
      upload_files: {"internal/web/data/locale/en.locale": "en.ini"}
    when:
      event: push
      path: ["internal/web/data/locale/*", ".woodpecker/crowdin.yml"]

  download:
    image: git.lcomrade.su/root/drone-crowdin-v2
    settings:
      crowdin_key:
        from_secret: crowdin_key
      project_id: 553341
      target: download
      download_to: internal/web/data/locale/
      #download_skip_untranslated_strings: true
      download_skip_untranslated_files: true
      #download_export_approved_only: false
    when:
      event: cron

  push:
    image: appleboy/drone-git-push
    settings:
      author_email: "translatebot@lcomrade.su"
      author_name: Translate [Bot]
      branch: develop
      commit: true
      commit_message: "[skip ci] Updated translations"
      remote: "git@git.lcomrade.su:root/lenpaste.git"
      ssh_key:
        from_secret: ci_ssh_key
    when:
      event: cron

.woodpecker/crowdin_upload.yml:

when:
  event: [push]
  branch: develop
  path: ["internal/web/data/locale/*", ".woodpecker/crowdin_upload.yml"]

pipeline:
  upload:
    image: git.lcomrade.su/root/drone-crowdin-v2
    pull: true
    settings:
      crowdin_key:
        from_secret: crowdin_key
      project_id: 553341
      target: upload
      upload_files: {"internal/web/data/locale/en.locale": "en.ini"}

.woodpecker/test_docker.yml:

when:
  event: [push, pull_request]
  branch: develop
  path: ["Dockerfile", ".woodpecker/test_docker.yml"]

pipeline:
  check:
    image: hadolint/hadolint
    pull: true
    commands:
      - hadolint --version
      - hadolint  Dockerfile

Update CI
  .woodpecker/crowdin_download.yml
  .woodpecker/crowdin_upload.yml
  .woodpecker/test.yml
  .woodpecker/test_docker.yml
Due: crowdin_upload, test_docker

Fix: Docker test CI
  .woodpecker/test_docker.yml
Due: test_docker

Fix Dockerfile
  Dockerfile
Due: test_docker

Allow load external themes
  README.md
  cmd/main.go
  entrypoint.sh
  internal/config/config.go
  internal/web/web.go
  internal/web/web_themes.go
Due: none

Fix: Go testing CI
  .woodpecker/test_golang.yml
Due: none

Fix: Woodpecker CI crone
  .woodpecker/crowdin_download.yml
Due: none

Fix
  .woodpecker/crowdin_download.yml
Due: none

Fix 2
  .woodpecker/crowdin_download.yml
Due: none

Fix 3
  .woodpecker/crowdin_download.yml
Due: none

Add 15 min and 1 hour ratelimit
  README.md
  cmd/main.go
  entrypoint.sh
  internal/apiv1/api.go
  internal/apiv1/api_error.go
  internal/apiv1/api_new.go
  internal/config/config.go
  internal/netshare/netshare.go
  internal/netshare/netshare_paste.go
  internal/netshare/netshare_ratelimit.go
  internal/web/data/docs_apiv1.tmpl
  internal/web/data/locale/en.locale
  internal/web/data/locale/ru.locale
  internal/web/web.go
  internal/web/web_docs.go
  internal/web/web_error.go
  internal/web/web_main_new.go
Due: upload, crowdin_upload

Add shell check pipline
  .woodpecker/test_shell.yml
Due: none

Fix: entrypoint.sh POSIX style
  .woodpecker/test_shell.yml
  entrypoint.sh
Due: none

Add rate limit to paste get. Fix: ratelimits
  README.md
  cmd/main.go
  internal/apiv1/api.go
  internal/apiv1/api_get.go
  internal/config/config.go
  internal/netshare/netshare_ratelimit.go
  internal/web/web.go
  internal/web/web_main_get.go
Due: none

Apply get rate limit to emb_help, emb, raw and dl
  cmd/main.go
  internal/raw/raw.go
  internal/raw/raw_error.go
  internal/raw/raw_raw.go
  internal/web/web_dl.go
  internal/web/web_embedded.go
  internal/web/web_embedded_help.go
Due: none

Update docs
  README.md
  cmd/main.go
  docs/build.md
  docs/ratelimits.md
  docs/themes.md
Due: none

Fast docs fix
  docs/build.md
Due: none

Fix: Crowdin download pipeline
  .woodpecker/crowdin_download.yml
  2
  tools/localefmt.sh
Due: none

Add Pardesi_Cat as translator
  README.md
  internal/web/data/authors.tmpl
  internal/web/web_other.go
Due: none

Remove strange file
  2
Due: none

Fix: entrypoint.sh
  entrypoint.sh
Due: none

Give up Crowdin!
  .woodpecker/crowdin_download.yml
  .woodpecker/crowdin_upload.yml
Due: crowdin_upload

Fix locale format
  internal/web/data/locale/bn_IN.locale
  internal/web/data/locale/en.locale
  internal/web/data/locale/ru.locale
  internal/web/data/paste_continue.tmpl
  internal/web/kvcfg.go
Due: upload, crowdin_upload

Fix
  internal/web/data/locale/bn_IN.locale
Due: upload, crowdin_upload

Rollback locale
  internal/web/data/locale/en.locale
  internal/web/data/locale/ru.locale
  internal/web/kvcfg.go
Due: upload, crowdin_upload

Migrate locales to JSON format
  internal/web/data/locale/bn_IN.json
  internal/web/data/locale/bn_IN.locale
  internal/web/data/locale/en.json
  internal/web/data/locale/en.locale
  internal/web/data/locale/ru.json
  internal/web/data/locale/ru.locale
  internal/web/web_translate.go
  tools/kvcfg-to-json/kvcfg.go
  tools/kvcfg-to-json/main.go
Due: upload, crowdin_upload

Fix: locale 2
  internal/web/data/locale/ru.json
Due: upload, crowdin_upload

Update README.md
  README.md
Due: none

Update APIv1 docs
  internal/web/data/docs_apiv1.tmpl
  internal/web/data/locale/en.json
Due: upload, crowdin_upload

Update README
  README.md
Due: none

Fix: README
  README.md
Due: none

Translated using Weblate (Russian)
  internal/web/data/locale/ru.json
Due: upload, crowdin_upload

Added translation using Weblate (German)
  internal/web/data/locale/de.json
Due: upload, crowdin_upload

Translated using Weblate (German)
  internal/web/data/locale/de.json
Due: upload, crowdin_upload

Translated using Weblate (Bengali (India))
  internal/web/data/locale/bn_IN.json
Due: upload, crowdin_upload

Add custom style to summary
  internal/web/data/style.css
Due: none

Fix: de.locale
  internal/web/data/locale/de.json
Due: upload, crowdin_upload

Fix
  internal/web/data/license.tmpl
  internal/web/web_other.go
Due: none

Refactor API, RAW and WEB
  cmd/main.go
  internal/apiv1/api.go
  internal/apiv1/api_error.go
  internal/apiv1/api_get.go
  internal/apiv1/api_new.go
  internal/apiv1/api_server.go
  internal/logger/logger.go
  internal/raw/raw.go
  internal/raw/raw_error.go
  internal/raw/raw_raw.go
  internal/web/web.go
  internal/web/web_about.go
  internal/web/web_dl.go
  internal/web/web_docs.go
  internal/web/web_embedded.go
  internal/web/web_embedded_help.go
  internal/web/web_error.go
  internal/web/web_get.go
  internal/web/web_main.go
  internal/web/web_new.go
  internal/web/web_other.go
  internal/web/web_settings.go
  internal/web/web_sitemap.go
  internal/web/web_terms.go
Due: none
