Repository lcomrade/lenpaste: changes, and which Woodpecker steps are due for each by the changed paths.
All: upload, crowdin_upload, test_docker, test_golang, test_shell

upload:
  image: git.lcomrade.su/root/drone-crowdin-v2
  settings:
    crowdin_key:
      from_secret: crowdin_key
    project_id: 553341
    target: upload
    upload_files:
      internal/web/data/locale/en.locale: en.ini

crowdin_upload:
  steps:
    upload:
      image: git.lcomrade.su/root/drone-crowdin-v2
      pull: true
      settings:
        crowdin_key:
          from_secret: crowdin_key
        project_id: 553341
        target: upload
        upload_files:
          internal/web/data/locale/en.locale: en.ini

test_docker:
  steps:
    check:
      image: hadolint/hadolint:latest-alpine
      pull: true
      commands:
      - hadolint --version
      - hadolint  Dockerfile

test_golang:
  steps:
    build:
      image: golang:${GO_VERSION}
      pull: true
      commands:
      - go mod download
      - go test ./...
      - go vet ./...

test_shell:
  steps:
    check:
      image: koalaman/shellcheck-alpine
      pull: true
      commands:
      - shellcheck --version
      - shellcheck $(find ./ -type f -name '*.sh')

Update
  internal/handler/raw_raw.go
  internal/handler/share_paste_get.go
  internal/handler/share_paste_new.go
  internal/handler/web_dl.go
  internal/handler/web_embedded.go
  internal/handler/web_embedded_help.go
  internal/handler/web_get.go
  internal/model/model_err.go
  internal/model/model_err_http.go
  internal/model/model_file.go
  internal/model/model_paste.go
  internal/model/model_ratelimit.go
Due: test_golang

Fix: getting HTTP host and proto outside proxy
  internal/config/config.go
  internal/handler/share_http.go
  internal/handler/web_embedded_help.go
  internal/handler/web_sitemap.go
Due: test_golang

Fix: docs API v1
  internal/handler/api_server.go
  internal/handler/data/docs_apiv1.tmpl
  internal/handler/web_docs.go
Due: test_golang

Update entrypoint.sh
  entrypoint.sh
Due: test_shell

Add tools/license/check.sh
  .woodpecker/test_license.yml
  internal/handler/web_translate.go
  tools/kvcfg-to-json/kvcfg.go
  tools/kvcfg-to-json/main.go
  tools/license_check.sh
  tools/localefmt.sh
Due: test_golang, test_shell

Fix: Golang testing CI
  .woodpecker/test_golang.yml
Due: test_golang

Start work at Code Space
  internal/config/config.go
  internal/handler/data/locale/bn_IN.json
  internal/handler/data/locale/de.json
  internal/handler/data/locale/en.json
  internal/handler/data/locale/fr.json
  internal/handler/data/locale/ru.json
  internal/handler/data/main.tmpl
  internal/handler/data/space.tmpl
  internal/handler/data/style.css
  internal/handler/data/theme/dark.theme
  internal/handler/data/theme/light.theme
  internal/handler/handler.go
  internal/handler/web_space.go
Due: test_golang

Start work at Code Space WEB interface
  internal/handler/data/emb.tmpl
  internal/handler/data/locale/en.json
  internal/handler/data/space.css
  internal/handler/data/space.js
  internal/handler/data/space.tmpl
  internal/handler/handler.go
  internal/handler/web_space.go
Due: test_golang

Fix: error model parsing
  internal/model/model_err.go
Due: test_golang

Remove Space
  internal/handler/data/main.tmpl
  internal/handler/data/space.css
  internal/handler/data/space.js
  internal/handler/data/space.tmpl
  internal/handler/data/style.css
  internal/handler/data/theme/dark.theme
  internal/handler/data/theme/light.theme
  internal/handler/handler.go
  internal/handler/web_space.go
Due: test_golang

Start work at Code Runner support
  internal/config/config.go
  internal/config/config_load.go
  internal/model/model_run.go
  internal/model/model_runner_info.go
  internal/model/model_runner_run.go
  internal/runner/runner.go
  internal/runner/runner_client.go
  internal/runner/runner_run.go
Due: test_golang

Translated using Weblate (German)
  internal/handler/data/locale/de.json
Due: none

Translated using Weblate (Russian)
  internal/handler/data/locale/ru.json
Due: none

Added translation using Weblate (Spanish)
  internal/handler/data/locale/es.json
Due: none

Translated using Weblate (Spanish)
  internal/handler/data/locale/es.json
Due: none

Migrate to https://github.com/lcomrade/lenpaste/
  .github/workflows/release_docker.yml
  .github/workflows/release_sources.yml
  .gitignore
  .woodpecker/test_docker.yml
  .woodpecker/test_golang.yml
  .woodpecker/test_shell.yml
  Dockerfile
  FAQ.md
  Makefile
  README.md
  cmd/main.go
  docs/db_postgresql.md
  go.mod
  go.sum
  internal/apiv1/api.go
  internal/apiv1/api_error.go
  internal/apiv1/api_get.go
  internal/apiv1/api_main.go
  internal/apiv1/api_new.go
  internal/apiv1/api_server.go
  internal/config/config.go
  internal/lineend/lineend.go
  internal/lineend/lineend_test.go
  internal/logger/logger.go
  internal/netshare/netshare_paste.go
  internal/raw/raw.go
  internal/raw/raw_error.go
  internal/raw/raw_raw.go
  internal/web/data/source_code.tmpl
  internal/web/web.go
  internal/web/web_dl.go
  internal/web/web_docs.go
  internal/web/web_embedded.go
  internal/web/web_embedded_help.go
  internal/web/web_error.go
  internal/web/web_get.go
  internal/web/web_new.go
  internal/web/web_other.go
  internal/web/web_settings.go
  internal/web/web_sitemap.go
Due: test_docker, test_golang, test_shell

Fix Github CI and README
  .github/workflows/release_docker.yml
  .github/workflows/release_sources.yml
  README.md
  docs/db_postgresql.md
Due: none

Fix Github CI create tarball pipeline
  .github/workflows/release_sources.yml
Due: none

Fix CI part 2
  .github/workflows/release_sources.yml
Due: none

Fix CI part 3
  .github/workflows/release_sources.yml
Due: none

Fix CI part 4
  .github/workflows/release_sources.yml
Due: none

Fix CI part 5
  .github/workflows/release_sources.yml
Due: none

Fix CI part 6
  .github/workflows/release_sources.yml
Due: none

Start work at new Docker image
  .dockerignore
  .github/workflows/release_docker.yml
  Dockerfile
  Makefile
Due: test_docker

Rewrite CLI and env vars reader
  .dockerignore
  Makefile
  cmd/lenpaste/lenpaste.go
  cmd/main.go
  cmd/main_test.go
  entrypoint.sh
  internal/cli/cli.go
  internal/cli/duration.go
  internal/cli/duration_test.go
Due: test_golang, test_shell

Continue work at Docker image
  .dockerignore
  .github/workflows/release_docker.yml
  .github/workflows/release_sources.yml
  .gitignore
  Dockerfile
  Makefile
  README.md
  cmd/lenpaste/lenpaste.go
  go.mod
  internal/cli/cli.go
Due: test_docker, test_golang

Fix Docker image
  .github/workflows/release_docker.yml
  .github/workflows/release_sources.yml
  Dockerfile
  Makefile
Due: test_docker

Return full env vars support to Docker image
  .dockerignore
  Dockerfile
  cmd/lenpaste/lenpaste.go
  entrypoint.sh
  internal/cli/cli.go
Due: test_docker, test_golang, test_shell

Update docs
  .github/workflows/release_docker.yml
  CHANGELOG.md
  FAQ.md
  README.md
  docs/db_postgresql.md
  docs/private_server.md
  docs/ratelimits.md
  docs/reverse_proxy_nginx.md
  docs/search_engines.md
  docs/themes.md
Due: none

Fix Github CI pipelines
  .github/workflows/release_docker.yml
  .github/workflows/release_sources.yml
Due: none

Fix Github CI pipelines (part 2)
  .dockerignore
  Makefile
Due: none

Fix Github CI pipelines (part 3)
  .github/workflows/release_sources.yml
Due: none

Path conditions:
  upload: any of: internal/web/data/locale/*, .woodpecker/crowdin.yml
  crowdin_upload: any of: internal/web/data/locale/*, .woodpecker/crowdin_upload.yml
  test_docker: any of: Dockerfile, .woodpecker/test_docker.yml
  test_golang: any of: **/*.go, .woodpecker/test_golang.yml
  test_shell: any of: **/*.sh, .woodpecker/test_shell.yml
