Repository lcomrade/lenpaste: changes, and which Woodpecker steps are due for each by the changed paths.
All: upload, crowdin_upload, test_docker, test_golang, test_shell

upload:
  image: git.lcomrade.su/root/drone-crowdin-v2
  settings:
    crowdin_key:
      from_secret: crowdin_key
    project_id: 553341
    target: upload
    upload_files:
      internal/web/data/locale/en.locale: en.ini

crowdin_upload:
  steps:
    upload:
      image: git.lcomrade.su/root/drone-crowdin-v2
      pull: true
      settings:
        crowdin_key:
          from_secret: crowdin_key
        project_id: 553341
        target: upload
        upload_files:
          internal/web/data/locale/en.locale: en.ini

test_docker:
  steps:
    check:
      image: hadolint/hadolint:latest-alpine
      pull: true
      commands:
      - hadolint --version
      - hadolint  Dockerfile

test_golang:
  steps:
    build:
      image: golang:${GO_VERSION}
      pull: true
      commands:
      - go mod download
      - go test ./...
      - go vet ./...

test_shell:
  steps:
    check:
      image: koalaman/shellcheck-alpine
      pull: true
      commands:
      - shellcheck --version
      - shellcheck $(find ./ -type f -name '*.sh')

Translated using Weblate (Bengali (India))
  internal/web/data/locale/bn_IN.json
Due: upload, crowdin_upload

Add Hiajen as translator
  internal/web/data/authors.tmpl
Due: none

Translated using Weblate (German)
  internal/web/data/locale/de.json
Due: upload, crowdin_upload

Add trace log to logger
  internal/logger/logger.go
Due: test_golang

Update docs
  docs/reverse_proxy_nginx.md
Due: none

Fix: locale and theme complite percent
  internal/logger/logger.go
  internal/web/web_themes.go
  internal/web/web_translate.go
Due: test_golang

Add HTTP Server header
  internal/apiv1/api.go
  internal/apiv1/api_new.go
  internal/apiv1/api_server.go
  internal/config/config.go
  internal/raw/raw.go
  internal/web/web.go
  internal/web/web_about.go
  internal/web/web_error.go
  internal/web/web_new.go
  internal/web/web_settings.go
  internal/web/web_sitemap.go
  internal/web/web_terms.go
  internal/web/web_themes.go
Due: test_golang

Add X-Real-IP support
  docs/build.md
  internal/netshare/netshare_host.go
  internal/web/data/theme/dark.theme
  internal/web/web_embedded_help.go
  internal/web/web_sitemap.go
Due: test_golang

Translate theme names
  internal/web/data/locale/en.json
  internal/web/data/theme/dark.theme
  internal/web/data/theme/light.theme
Due: upload, crowdin_upload

Update docs
  README.md
  docs/build.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
  Dockerfile
  docs/reverse_proxy_nginx.md
Due: test_docker

Fix: Dockerfile
  Dockerfile
Due: test_docker

Added translation using Weblate (Swedish)
  internal/web/data/locale/sv.json
Due: upload, crowdin_upload

Update README.md
  README.md
Due: none

Update README.md 2
  README.md
Due: none

Fix /raw/ wrong 500 errors. Remove SV locale.
  internal/raw/raw_error.go
  internal/web/data/locale/sv.json
Due: upload, crowdin_upload, test_golang

Update Chroma
  go.mod
  go.sum
Due: none

Start work at Lenpaste v2
  Makefile
  cmd/main.go
  cmd/main_test.go
  internal/apiv1/api.go
  internal/apiv1/api_error.go
  internal/apiv1/api_get.go
  internal/apiv1/api_new.go
  internal/apiv1/api_server.go
  internal/config/config.go
  internal/config/parse_duration.go
  internal/config/parse_duration_test.go
  internal/logger/logger.go
  internal/model/err.go
  internal/model/err_http.go
  internal/model/model.go
  internal/model/paste.go
  internal/netshare/netshare.go
  internal/netshare/netshare_paste.go
  internal/netshare/netshare_ratelimit.go
  internal/raw/raw.go
  internal/raw/raw_error.go
  internal/raw/raw_raw.go
  internal/storage/db_paste.go
  internal/storage/redis_ratelimit.go
  internal/storage/share.go
  internal/storage/storage.go
  internal/web/data/docs_apiv2.tmpl
  internal/web/data/locale/en.json
  internal/web/data/locale/ru.json
  internal/web/web.go
  internal/web/web_docs.go
  internal/web/web_error.go
  internal/web/web_new.go
  internal/web/web_settings.go
  internal/web/web_sitemap.go
  internal/web/web_themes.go
  internal/web/web_translate.go
Due: upload, crowdin_upload, test_golang

Continue refactoring
  internal/config/config.go
  internal/web/kvcfg.go
  internal/web/web.go
  internal/web/web_about.go
  internal/web/web_dl.go
  internal/web/web_docs.go
  internal/web/web_embedded.go
  internal/web/web_embedded_help.go
  internal/web/web_error.go
  internal/web/web_get.go
  internal/web/web_new.go
  internal/web/web_other.go
  internal/web/web_settings.go
  internal/web/web_sitemap.go
  internal/web/web_terms.go
  internal/web/web_themes.go
  internal/web/web_translate.go
Due: test_golang

Finish refactoring
  cmd/main.go
  go.mod
  go.sum
  internal/apiv1/api_new.go
  internal/apiv1/api_server.go
  internal/config/config.go
  internal/config/config_load.go
  internal/config/parse_duration.go
  internal/config/parse_duration_test.go
  internal/lenpasswd/lenpasswd.go
  internal/logger/logger.go
  internal/model/model.go
  internal/web/web.go
  internal/web/web_new.go
  internal/web/web_settings.go
Due: test_golang

Added translation using Weblate (French)
  internal/web/data/locale/fr.json
Due: upload, crowdin_upload

Translated using Weblate (French)
  internal/web/data/locale/fr.json
Due: upload, crowdin_upload

Fix
  cmd/main.go
  internal/apiv1/api_new.go
  internal/apiv1/api_server.go
  internal/config/config.go
  internal/config/config_load.go
  internal/config/config_unix.go
  internal/config/parse_duration.go
  internal/web/data/main.js
  internal/web/data/main.tmpl
  internal/web/web_new.go
  internal/web/web_settings.go
  internal/web/web_themes.go
Due: test_golang

Remove API v2
  internal/web/data/docs_apiv1.tmpl
  internal/web/data/docs_apiv2.tmpl
  internal/web/data/locale/en.json
  internal/web/data/locale/ru.json
  internal/web/web.go
  internal/web/web_docs.go
  internal/web/web_sitemap.go
Due: upload, crowdin_upload, test_golang

Add Nabouno as translator
  internal/web/data/authors.tmpl
Due: none

Start work at file upload
  go.mod
  go.sum
  internal/config/config.go
  internal/model/file.go
  internal/storage/db_file.go
  internal/storage/storage.go
Due: test_golang

Upadte
  cmd/main.go
  go.mod
  go.sum
  internal/apiv1/api.go
  internal/apiv1/api_upload.go
  internal/config/config.go
  internal/config/config_load.go
  internal/storage/db_file.go
  internal/storage/db_paste.go
  internal/storage/storage.go
Due: test_golang

Update Go deps
  go.mod
  go.sum
Due: none

Start migration to Gin
  Makefile
  go.mod
  go.sum
  internal/apiv1/api_error.go
  internal/apiv1/api_get.go
  internal/apiv1/api_new.go
  internal/handler/api_paste.go
  internal/handler/api_server.go
  internal/handler/handler.go
  internal/handler/handler_log.go
  internal/handler/raw_raw.go
  internal/handler/share_paste_get.go
  internal/handler/share_paste_new.go
  internal/logger/logger.go
  internal/model/model.go
  internal/model/paste.go
  internal/netshare/netshare_host.go
  internal/raw/raw_raw.go
  internal/storage/db_paste.go
Due: test_golang

Start migration to Gin (part 2)
  cmd/main.go
  go.mod
  go.sum
  internal/config/config.go
  internal/handler/api_server.go
  internal/handler/handler.go
  internal/handler/handler_log.go
  internal/web/web.go
  internal/web/web_about.go
  internal/web/web_dl.go
  internal/web/web_docs.go
  internal/web/web_embedded.go
  internal/web/web_embedded_help.go
  internal/web/web_error.go
  internal/web/web_get.go
  internal/web/web_new.go
  internal/web/web_other.go
  internal/web/web_redirect.go
  internal/web/web_settings.go
  internal/web/web_sitemap.go
  internal/web/web_terms.go
  internal/web/web_themes.go
  internal/web/web_translate.go
Due: test_golang

Restore rate limit native
  internal/config/config.go
  internal/config/config_load.go
  internal/handler/api_server.go
  internal/model/ratelimit.go
  internal/storage/ratelimit.go
  internal/storage/ratelimit_native.go
  internal/storage/storage.go
Due: test_golang

Path conditions:
  upload: any of: internal/web/data/locale/*, .woodpecker/crowdin.yml
  crowdin_upload: any of: internal/web/data/locale/*, .woodpecker/crowdin_upload.yml
  test_docker: any of: Dockerfile, .woodpecker/test_docker.yml
  test_golang: any of: **/*.go, .woodpecker/test_golang.yml
  test_shell: any of: **/*.sh, .woodpecker/test_shell.yml
